.register-page-container .login-page-link-container {
  text-align: right;
  margin: 5px 0;
}

.register-page-container > form a {
  text-decoration: none;
  font-weight: bold;
  color: #000fff;
}

.register-page-container > form > button {
  width: 100%;
  background-color: #000fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 50px;
}

.register-page-container > h2 {
  margin-top: 25px;
}

.register-page-container > p {
  text-align: left;
  margin: 50px 0px;
}

.register-page-container > form {
  padding-bottom: 150px;
}

.register-page-container {
  height: 800px;
}
