@media (min-width: 768px) {
  .advantage-feature-container {
    .feature-text-container {
      max-width: 385px;
      h4 {
        font-size: 40px;
      }
    }
    .feature-content-container {
      min-width: 290px;
    }
  }
}

@media (max-width: 768px) {
  .advantage-feature-container {
    padding-left: 10px;
    .feature-text-container {
      h4 {
        font-size: 32px;
        max-width: 308px;
      }
      p {
        font-size: 14px;
        max-width: 320px;
      }
    }
  }
}
