@media (min-width: 500px) {
  .update-address-container {
    .upate-address-text {
      font-size: 28px;
    }
  }
}

@media (max-width: 500px) {
  .update-address-container {
    .upate-address-text {
      font-size: 20px;
    }
  }
}

.update-address-container {
  .form-container {
    .inputs-container {
      .input-container {
        input {
          width: 290px;
        }
      }
    }
  }
}
